# Imports préalables pour visualisation pratique

In [21]:
import pandas as pd
pd.set_option("display.max_columns", None )

# Bonnes pratiques

#### Mettre sa source dans une variable, accroît la visibilité et évite les longues lignes de code

In [22]:
source = "titanic.csv"
data = pd.read_csv(source)

#### .format et F-string

.format permet d'utiliser aussi les clefs valeurs d'un dictionnaire

In [23]:
prenom = "Xavier"
print("Bonjour {}, comment vas tu?".format(prenom))

Bonjour Xavier, comment vas tu?

In [24]:
prenom_frere = "Gerald"
age_xavier = 42
print("Mon frère s'appelle {} et j'aurai bientôt {} ans.".format(prenom_frere,age_xavier+1))

Mon frère s'appelle Gerald et j'aurai bientôt 43 ans.

In [25]:
dictionnaire = {"prenom" : "Xavier", "age" : 42}
print("Je m'appelle {prenom} et j'ai {age} ans".format(**dictionnaire))

Je m'appelle Xavier et j'ai 42 ans

f.string plus lisible et performant (rapidité de calcul) mais non utilisable avec un dictionnaire

In [26]:
print(f"Bonjour {prenom}, comment vas tu?")
print(f"Mon frère s'appelle {prenom_frere} et j'aurai bientôt {age_xavier+1} ans.")

Bonjour Xavier, comment vas tu?
Mon frère s'appelle Gerald et j'aurai bientôt 43 ans.

#### Mettre ses multiples modifications dans une variable, accroît la visibilité, évite les longues lignes de code et des retouches aisées
ici avec une liste mais fonctionne aussi avec un dictionnaire

In [27]:
data.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [28]:
colonnes_a_supprimer = ["Ticket",
                        "Fare",
                        "Cabin"]

data = data.drop(columns= colonnes_a_supprimer)

In [29]:
data.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,S

#### Trop de colonnes pour visualiser certaines infos, inverser lignes colonnes
très efficace sur les grands dataset combiné avec pd.set_option

In [30]:
details_dtypes = data.dtypes
df_details_dtypes = pd.DataFrame(details_dtypes)
df_details_dtypes.T

  PassengerId Survived Pclass    Name     Sex      Age  SibSp  Parch Embarked
0       int64    int64  int64  object  object  float64  int64  int64   object

#### Besoin de couleur dans un commentaire?

In [31]:
# <span style="color: red; font-weight: bold;">pour une analyse approfondie non biaisée il conviendra de filtrer out "waves" 6 à 9.</span>

<span style="color: red; font-weight: bold;">pour une analyse approfondie non biaisée il conviendra de filtrer out "waves" 6 à 9.</span>