# Imports préalables pour visualisation pratique

In [1]:
import pandas as pd
pd.set_option("display.max_columns", None )
data = pd.read_csv("titanic.csv")
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Pandas

#### .max() : renvoi la valeur maximum de la variable entrée (doit être une série)

In [2]:
data["Age"].max()

80.0

#### .min() : renvoi la valeur minimum de la variable entrée (doit être une série)

In [3]:
data["Age"].min()

0.42

#### .mean() : calcul la moyenne de la variable entrée (doit être une série)

In [4]:
data["Age"].mean()

29.69911764705882

#### .std() : calcul l'écart type de la variable entrée (doit être une série)

In [5]:
data["Age"].std()

14.526497332334044

#### .sum() calcul la somme de la variable entrée (doit être une série)
Arrive à compter les survivants car 1 si a survecu et 0 si non

In [6]:
data["Survived"].sum()

342

#### .len() renvoi le nombre de valeurs présentes dans la variable, ici une liste

In [7]:
liste_chiffres = [1,2,0,4,5]
len(liste_chiffres)

5